* {
  font-size: 16px;
}

.text-primary {
  color: #0d6efd;
}

.bg-primary {
  background-color: #0d6efd;
}

.text-primary-light-1 {
  color: #257dfd;
}

.text-primary-dark-1 {
  color: #0c63e4;
}

.text-primary-light-2 {
  color: #3d8bfd;
}

.text-primary-dark-2 {
  color: #0a58ca;
}

.text-primary-light-3 {
  color: #569afe;
}

.text-primary-dark-3 {
  color: #094db1;
}

.text-primary-light-4 {
  color: #6ea8fe;
}

.text-primary-dark-4 {
  color: #084298;
}

.text-primary-light-5 {
  color: #86b7fe;
}

.text-primary-dark-5 {
  color: #07377f;
}

.text-primary-light-6 {
  color: #9ec5fe;
}

.text-primary-dark-6 {
  color: #052c65;
}

.text-primary-light-7 {
  color: #b6d4fe;
}

.text-primary-dark-7 {
  color: #04214c;
}

.text-primary-light-8 {
  color: #cfe2ff;
}

.text-primary-dark-8 {
  color: #031633;
}

.text-primary-light-9 {
  color: #e7f1ff;
}

.text-primary-dark-9 {
  color: #010b19;
}

.text-secondary {
  color: #6c757d;
}

.bg-secondary {
  background-color: #6c757d;
}

.text-secondary-light-1 {
  color: #7b838a;
}

.text-secondary-dark-1 {
  color: #616971;
}

.text-secondary-light-2 {
  color: #899197;
}

.text-secondary-dark-2 {
  color: #565e64;
}

.text-secondary-light-3 {
  color: #989ea4;
}

.text-secondary-dark-3 {
  color: #4c5258;
}

.text-secondary-light-4 {
  color: #a7acb1;
}

.text-secondary-dark-4 {
  color: #41464b;
}

.text-secondary-light-5 {
  color: #b6babe;
}

.text-secondary-dark-5 {
  color: #363b3f;
}

.text-secondary-light-6 {
  color: #c4c8cb;
}

.text-secondary-dark-6 {
  color: #2b2f32;
}

.text-secondary-light-7 {
  color: #d3d6d8;
}

.text-secondary-dark-7 {
  color: #202326;
}

.text-secondary-light-8 {
  color: #e2e3e5;
}

.text-secondary-dark-8 {
  color: #161719;
}

.text-secondary-light-9 {
  color: #f0f1f2;
}

.text-secondary-dark-9 {
  color: #0b0c0d;
}

.text-success {
  color: #198754;
}

.bg-success {
  background-color: #198754;
}

.text-success-light-1 {
  color: #309365;
}

.text-success-dark-1 {
  color: #177a4c;
}

.text-success-light-2 {
  color: #479f76;
}

.text-success-dark-2 {
  color: #146c43;
}

.text-success-light-3 {
  color: #5eab87;
}

.text-success-dark-3 {
  color: #125f3b;
}

.text-success-light-4 {
  color: #75b798;
}

.text-success-dark-4 {
  color: #0f5132;
}

.text-success-light-5 {
  color: #8cc3aa;
}

.text-success-dark-5 {
  color: #0d442a;
}

.text-success-light-6 {
  color: #a3cfbb;
}

.text-success-dark-6 {
  color: #0a3622;
}

.text-success-light-7 {
  color: #badbcc;
}

.text-success-dark-7 {
  color: #082919;
}

.text-success-light-8 {
  color: #d1e7dd;
}

.text-success-dark-8 {
  color: #051b11;
}

.text-success-light-9 {
  color: #e8f3ee;
}

.text-success-dark-9 {
  color: #030e08;
}

.text-info {
  color: #0dcaf0;
}

.bg-info {
  background-color: #0dcaf0;
}

.text-info-light-1 {
  color: #25cff2;
}

.text-info-dark-1 {
  color: #0cb6d8;
}

.text-info-light-2 {
  color: #3dd5f3;
}

.text-info-dark-2 {
  color: #0aa2c0;
}

.text-info-light-3 {
  color: #56daf5;
}

.text-info-dark-3 {
  color: #098da8;
}

.text-info-light-4 {
  color: #6edff6;
}

.text-info-dark-4 {
  color: #087990;
}

.text-info-light-5 {
  color: #86e5f8;
}

.text-info-dark-5 {
  color: #076578;
}

.text-info-light-6 {
  color: #9eeaf9;
}

.text-info-dark-6 {
  color: #055160;
}

.text-info-light-7 {
  color: #b6effb;
}

.text-info-dark-7 {
  color: #043d48;
}

.text-info-light-8 {
  color: #cff4fc;
}

.text-info-dark-8 {
  color: #032830;
}

.text-info-light-9 {
  color: #e7fafe;
}

.text-info-dark-9 {
  color: #011418;
}

.text-warning {
  color: #ffc107;
}

.bg-warning {
  background-color: #ffc107;
}

.text-warning-light-1 {
  color: #ffc720;
}

.text-warning-dark-1 {
  color: #e6ae06;
}

.text-warning-light-2 {
  color: #ffcd39;
}

.text-warning-dark-2 {
  color: #cc9a06;
}

.text-warning-light-3 {
  color: #ffd451;
}

.text-warning-dark-3 {
  color: #b38705;
}

.text-warning-light-4 {
  color: #ffda6a;
}

.text-warning-dark-4 {
  color: #997404;
}

.text-warning-light-5 {
  color: #ffe083;
}

.text-warning-dark-5 {
  color: #806104;
}

.text-warning-light-6 {
  color: #ffe69c;
}

.text-warning-dark-6 {
  color: #664d03;
}

.text-warning-light-7 {
  color: #ffecb5;
}

.text-warning-dark-7 {
  color: #4d3a02;
}

.text-warning-light-8 {
  color: #fff3cd;
}

.text-warning-dark-8 {
  color: #332701;
}

.text-warning-light-9 {
  color: #fff9e6;
}

.text-warning-dark-9 {
  color: #1a1301;
}

.text-danger {
  color: #dc3545;
}

.bg-danger {
  background-color: #dc3545;
}

.text-danger-light-1 {
  color: #e04958;
}

.text-danger-dark-1 {
  color: #c6303e;
}

.text-danger-light-2 {
  color: #e35d6a;
}

.text-danger-dark-2 {
  color: #b02a37;
}

.text-danger-light-3 {
  color: #e7727d;
}

.text-danger-dark-3 {
  color: #9a2530;
}

.text-danger-light-4 {
  color: #ea868f;
}

.text-danger-dark-4 {
  color: #842029;
}

.text-danger-light-5 {
  color: #ee9aa2;
}

.text-danger-dark-5 {
  color: #6e1b23;
}

.text-danger-light-6 {
  color: #f1aeb5;
}

.text-danger-dark-6 {
  color: #58151c;
}

.text-danger-light-7 {
  color: #f5c2c7;
}

.text-danger-dark-7 {
  color: #421015;
}

.text-danger-light-8 {
  color: #f8d7da;
}

.text-danger-dark-8 {
  color: #2c0b0e;
}

.text-danger-light-9 {
  color: #fcebec;
}

.text-danger-dark-9 {
  color: #160507;
}

.text-light {
  color: #f8f9fa;
}

.bg-light {
  background-color: #f8f9fa;
}

.text-light-light-1 {
  color: #f9fafb;
}

.text-light-dark-1 {
  color: #dfe0e1;
}

.text-light-light-2 {
  color: #f9fafb;
}

.text-light-dark-2 {
  color: #c6c7c8;
}

.text-light-light-3 {
  color: #fafbfc;
}

.text-light-dark-3 {
  color: #aeaeaf;
}

.text-light-light-4 {
  color: #fbfbfc;
}

.text-light-dark-4 {
  color: #959596;
}

.text-light-light-5 {
  color: #fcfcfd;
}

.text-light-dark-5 {
  color: #7c7d7d;
}

.text-light-light-6 {
  color: #fcfdfd;
}

.text-light-dark-6 {
  color: #636464;
}

.text-light-light-7 {
  color: #fdfdfe;
}

.text-light-dark-7 {
  color: #4a4b4b;
}

.text-light-light-8 {
  color: #fefefe;
}

.text-light-dark-8 {
  color: #323232;
}

.text-light-light-9 {
  color: #fefeff;
}

.text-light-dark-9 {
  color: #191919;
}

.text-dark {
  color: #212529;
}

.bg-dark {
  background-color: #212529;
}

.text-dark-light-1 {
  color: #373b3e;
}

.text-dark-dark-1 {
  color: #1e2125;
}

.text-dark-light-2 {
  color: #4d5154;
}

.text-dark-dark-2 {
  color: #1a1e21;
}

.text-dark-light-3 {
  color: #646669;
}

.text-dark-dark-3 {
  color: #171a1d;
}

.text-dark-light-4 {
  color: #7a7c7f;
}

.text-dark-dark-4 {
  color: #141619;
}

.text-dark-light-5 {
  color: #909294;
}

.text-dark-dark-5 {
  color: #111315;
}

.text-dark-light-6 {
  color: #a6a8a9;
}

.text-dark-dark-6 {
  color: #0d0f10;
}

.text-dark-light-7 {
  color: #bcbebf;
}

.text-dark-dark-7 {
  color: #0a0b0c;
}

.text-dark-light-8 {
  color: #d3d3d4;
}

.text-dark-dark-8 {
  color: #070708;
}

.text-dark-light-9 {
  color: #e9e9ea;
}

.text-dark-dark-9 {
  color: #030404;
}

.text-purple {
  color: purple;
}

.bg-purple {
  background-color: purple;
}

.text-purple-light-1 {
  color: #8d1a8d;
}

.text-purple-dark-1 {
  color: #730073;
}

.text-purple-light-2 {
  color: #993399;
}

.text-purple-dark-2 {
  color: #660066;
}

.text-purple-light-3 {
  color: #a64da6;
}

.text-purple-dark-3 {
  color: #5a005a;
}

.text-purple-light-4 {
  color: #b366b3;
}

.text-purple-dark-4 {
  color: #4d004d;
}

.text-purple-light-5 {
  color: #c080c0;
}

.text-purple-dark-5 {
  color: #400040;
}

.text-purple-light-6 {
  color: #cc99cc;
}

.text-purple-dark-6 {
  color: #330033;
}

.text-purple-light-7 {
  color: #d9b3d9;
}

.text-purple-dark-7 {
  color: #260026;
}

.text-purple-light-8 {
  color: #e6cce6;
}

.text-purple-dark-8 {
  color: #1a001a;
}

.text-purple-light-9 {
  color: #f2e6f2;
}

.text-purple-dark-9 {
  color: #0d000d;
}

.text-pink {
  color: pink;
}

.bg-pink {
  background-color: pink;
}

.text-pink-light-1 {
  color: #ffc6d0;
}

.text-pink-dark-1 {
  color: #e6adb7;
}

.text-pink-light-2 {
  color: #ffcdd5;
}

.text-pink-dark-2 {
  color: #cc9aa2;
}

.text-pink-light-3 {
  color: #ffd3db;
}

.text-pink-dark-3 {
  color: #b3868e;
}

.text-pink-light-4 {
  color: #ffd9e0;
}

.text-pink-dark-4 {
  color: #99737a;
}

.text-pink-light-5 {
  color: #ffe0e5;
}

.text-pink-dark-5 {
  color: #806066;
}

.text-pink-light-6 {
  color: #ffe6ea;
}

.text-pink-dark-6 {
  color: #664d51;
}

.text-pink-light-7 {
  color: #ffecef;
}

.text-pink-dark-7 {
  color: #4d3a3d;
}

.text-pink-light-8 {
  color: #fff2f5;
}

.text-pink-dark-8 {
  color: #332629;
}

.text-pink-light-9 {
  color: #fff9fa;
}

.text-pink-dark-9 {
  color: #1a1314;
}

.text-white {
  color: white;
}

.bg-white {
  background-color: white;
}

.text-black {
  color: black;
}

.bg-black {
  background-color: black;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-xs {
  font-size: 0.5rem;
}

.text-sm {
  font-size: 0.75rem;
}

.text-md {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-xl {
  font-size: 2rem;
}

.text-xxl {
  font-size: 3rem;
}

.p-0 {
  padding: 0;
}

.m-0 {
  margin: 0;
}

.pl-0 {
  padding-left: 0;
}

.ml-0 {
  margin-left: 0;
}

.pr-0 {
  padding-right: 0;
}

.mr-0 {
  margin-right: 0;
}

.pt-0 {
  padding-top: 0;
}

.mt-0 {
  margin-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.p-1 {
  padding: 0.25rem;
}

.m-1 {
  margin: 0.25rem;
}

.pl-1 {
  padding-left: 0.25rem;
}

.ml-1 {
  margin-left: 0.25rem;
}

.pr-1 {
  padding-right: 0.25rem;
}

.mr-1 {
  margin-right: 0.25rem;
}

.pt-1 {
  padding-top: 0.25rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.p-2 {
  padding: 0.5rem;
}

.m-2 {
  margin: 0.5rem;
}

.pl-2 {
  padding-left: 0.5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.pr-2 {
  padding-right: 0.5rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.pt-2 {
  padding-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.p-3 {
  padding: 1rem;
}

.m-3 {
  margin: 1rem;
}

.pl-3 {
  padding-left: 1rem;
}

.ml-3 {
  margin-left: 1rem;
}

.pr-3 {
  padding-right: 1rem;
}

.mr-3 {
  margin-right: 1rem;
}

.pt-3 {
  padding-top: 1rem;
}

.mt-3 {
  margin-top: 1rem;
}

.pb-3 {
  padding-bottom: 1rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.p-4 {
  padding: 1.5rem;
}

.m-4 {
  margin: 1.5rem;
}

.pl-4 {
  padding-left: 1.5rem;
}

.ml-4 {
  margin-left: 1.5rem;
}

.pr-4 {
  padding-right: 1.5rem;
}

.mr-4 {
  margin-right: 1.5rem;
}

.pt-4 {
  padding-top: 1.5rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.pb-4 {
  padding-bottom: 1.5rem;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.p-5 {
  padding: 3rem;
}

.m-5 {
  margin: 3rem;
}

.pl-5 {
  padding-left: 3rem;
}

.ml-5 {
  margin-left: 3rem;
}

.pr-5 {
  padding-right: 3rem;
}

.mr-5 {
  margin-right: 3rem;
}

.pt-5 {
  padding-top: 3rem;
}

.mt-5 {
  margin-top: 3rem;
}

.pb-5 {
  padding-bottom: 3rem;
}

.mb-5 {
  margin-bottom: 3rem;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 0) {
  .col-xs-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xs-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xs-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xs-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xs-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xs-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xs-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xs-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xs-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xs-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xs-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xs-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-sm-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-sm-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-sm-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-sm-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-sm-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-sm-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-sm-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-sm-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-sm-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-sm-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-sm-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-md-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-md-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-md-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-md-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-md-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-md-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-md-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-md-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-md-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-md-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-md-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .col-lg-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-lg-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-lg-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-lg-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-lg-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-lg-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-lg-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-lg-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-lg-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-lg-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-lg-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-lg-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-xl-1 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-xl-2 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-xl-3 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-xl-4 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-xl-5 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-xl-6 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-xl-7 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-xl-8 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-xl-9 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-xl-10 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-xl-11 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-xl-12 {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 0) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.card {
  border: 1px solid #ddd;
  border-radius: div(20px, 3);
  padding: 1.5rem;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 0.5rem;
  margin: 0;
}
.card .card-body {
  font-size: 1rem;
}

.btn {
  border: 0;
  background-color: #ddd;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

.btn-primary {
  border: 0;
  background-color: #0d6efd;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #408cfd;
}

.btn-outlined-primary {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #0d6efd;
  color: #0d6efd;
}
.btn-outlined-primary:hover {
  background-color: #0d6efd;
  color: #fff;
}

.btn-secondary {
  border: 0;
  background-color: #6c757d;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-secondary:hover {
  background-color: #868e96;
}

.btn-outlined-secondary {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #6c757d;
  color: #6c757d;
}
.btn-outlined-secondary:hover {
  background-color: #6c757d;
  color: #fff;
}

.btn-success {
  border: 0;
  background-color: #198754;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-success:hover {
  background-color: #21b26f;
}

.btn-outlined-success {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #198754;
  color: #198754;
}
.btn-outlined-success:hover {
  background-color: #198754;
  color: #fff;
}

.btn-info {
  border: 0;
  background-color: #0dcaf0;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-info:hover {
  background-color: #3cd5f4;
}

.btn-outlined-info {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #0dcaf0;
  color: #0dcaf0;
}
.btn-outlined-info:hover {
  background-color: #0dcaf0;
  color: #fff;
}

.btn-warning {
  border: 0;
  background-color: #ffc107;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-warning:hover {
  background-color: #ffce3a;
}

.btn-outlined-warning {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #ffc107;
  color: #ffc107;
}
.btn-outlined-warning:hover {
  background-color: #ffc107;
  color: #fff;
}

.btn-danger {
  border: 0;
  background-color: #dc3545;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-danger:hover {
  background-color: #e4606d;
}

.btn-outlined-danger {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #dc3545;
  color: #dc3545;
}
.btn-outlined-danger:hover {
  background-color: #dc3545;
  color: #fff;
}

.btn-light {
  border: 0;
  background-color: #f8f9fa;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-light:hover {
  background-color: white;
}

.btn-outlined-light {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #f8f9fa;
  color: #f8f9fa;
}
.btn-outlined-light:hover {
  background-color: #f8f9fa;
  color: #fff;
}

.btn-dark {
  border: 0;
  background-color: #212529;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-dark:hover {
  background-color: #383f45;
}

.btn-outlined-dark {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid #212529;
  color: #212529;
}
.btn-outlined-dark:hover {
  background-color: #212529;
  color: #fff;
}

.btn-purple {
  border: 0;
  background-color: purple;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-purple:hover {
  background-color: #b300b3;
}

.btn-outlined-purple {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid purple;
  color: purple;
}
.btn-outlined-purple:hover {
  background-color: purple;
  color: #fff;
}

.btn-pink {
  border: 0;
  background-color: pink;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-pink:hover {
  background-color: #fff3f5;
}

.btn-outlined-pink {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid pink;
  color: pink;
}
.btn-outlined-pink:hover {
  background-color: pink;
  color: #fff;
}

.btn-white {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-white:hover {
  background-color: white;
}

.btn-outlined-white {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid white;
  color: white;
}
.btn-outlined-white:hover {
  background-color: white;
  color: #fff;
}

.btn-black {
  border: 0;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
.btn-black:hover {
  background-color: #1a1a1a;
}

.btn-outlined-black {
  border: 0;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border: 1px solid black;
  color: black;
}
.btn-outlined-black:hover {
  background-color: black;
  color: #fff;
}

/*# sourceMappingURL=index.css.map */
